In [23]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

In [24]:
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.float_format', '{:,.2f}'.format)
pd.set_option('display.max_columns', None)

In [25]:
df = pd.read_pickle('D:\Projects\Cafe db\data')

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19812\2140274798.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_pickle('D:\Projects\Cafe db\data')

In [26]:
df.head()

,rnm,num_check,datetime,time_eat,smena,good,total_chek,price,pr_bez_nds,avg_price,profit,amount,position_good,summa,payment,check_unique,group,on-group,seasons,day,hour,date,revenue,mnth,quart
0,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Яичница с беконом,181.00,45.00,37.50,22.95,14.55,1.00,1,181.00,card,92970 - 6916860058096,Завтрак,Яичница,Зима,Вторник,8,2024-01-09,37.50,Январь,1 Квартал
1,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Сосиски отварные,181.00,65.00,54.17,23.78,30.39,1.00,2,181.00,card,92970 - 6916860058096,Основное блюдо,Колбаски разные,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал
2,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Каша овсяная на молоке,181.00,65.00,54.17,13.75,40.42,1.00,3,181.00,card,92970 - 6916860058096,Завтрак,Каши,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал
3,6916860058096,92970,2024-01-09 08:06:00,Ранний завтрак,240,Хлеб ржано-пшеничный,181.00,6.00,5.00,1.84,3.16,1.00,4,181.00,card,92970 - 6916860058096,Хлеб,Хлеб,Зима,Вторник,8,2024-01-09,5.00,Январь,1 Квартал
4,6916860058096,92971,2024-01-09 08:07:00,Ранний завтрак,240,Каша рисовая на молоке,145.00,65.00,54.17,17.42,36.75,1.00,1,145.00,card,92971 - 6916860058096,Завтрак,Каши,Зима,Вторник,8,2024-01-09,54.17,Январь,1 Квартал

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483044 entries, 0 to 483043
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   rnm            483044 non-null  int64
 1   num_check      483044 non-null  int64
 2   datetime       483044 non-null  datetime64[ns]
 3   time_eat       483044 non-null  object
 4   smena          483044 non-null  int64
 5   good           483044 non-null  object
 6   total_chek     483044 non-null  float64
 7   price          483044 non-null  float64
 8   pr_bez_nds     483044 non-null  float64
 9   avg_price      483044 non-null  float64
 10  profit         483044 non-null  float64
 11  amount         483044 non-null  float64
 12  position_good  483044 non-null  int64
 13  summa          483044 non-null  float64
 14  payment        483044 non-null  object
 15  check_unique   483044 non-null  object
 16  group          483044 non-null  object
 17  on-group       483044 non-null  object
 18  seasons        483044 non-null  category
 19  day            483044 non-null  category
 20  hour           483044 non-null  int32
 21  date           483044 non-null  datetime64[ns]
 22  revenue        483044 non-null  float64
 23  mnth           483044 non-null  category
 24  quart          483044 non-null  object
dtypes: category(3), datetime64[ns](2), float64(8), int32(1), int64(4), object(7)
memory usage: 80.6+ MB

**Создание таблиц для Power BI**

In [28]:
df.to_csv(r'D:\Projects\Cafe BI\fact_table.csv', index=False)

In [29]:
table_time_eat = df['time_eat'].drop_duplicates()

In [30]:
table_time_eat.to_csv('time_eat.csv', index=False)

In [31]:
goods_table = df[['good', 'group', 'on-group']].drop_duplicates()

In [32]:
goods_table.to_csv('goods_table.csv', index=False)

In [33]:
table_hour = table_time_eat = df['hour'].drop_duplicates()

In [34]:
table_hour.to_csv('table_hour.csv', index=False)

In [35]:
df['time_eat'].unique()

array(['Ранний завтрак', 'Завтрак', 'Обед', 'Послеобеденный', 'Скидки'],
      dtype=object)

In [36]:
df['group'].unique()

array(['Завтрак', 'Основное блюдо', 'Хлеб', 'Напитки', 'Контейнер',
       'Выпечка и десерт', 'Бутерброд', 'Выпечка', 'Соус', 'Салат',
       'Снеки', 'Фрукты', 'Гарнир', 'Супы Горячие', 'Десерты', 'Приборы',
       'Торт цельный', 'Индивидуальный заказ', 'Хрень', 'Пирог цельный',
       'Супы холодные'], dtype=object)

In [37]:
df_fuck = df[df['group'] == 'Хрень']

In [38]:
df_fuck.to_csv('wtf.csv', index=False)